<a href="https://colab.research.google.com/github/rokmr/Machine-Learning/blob/firstBranch/pandas/00_Series.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

___

<a href='http://www.pieriandata.com'><img src='../Pierian_Data_Logo.png'/></a>
___
<center><em>Copyright by Pierian Data Inc.</em></center>
<center><em>For more information, visit us at <a href='http://www.pieriandata.com'>www.pieriandata.com</a></em></center>

# Series

The first main data type we will learn about for pandas is the Series data type. Let's import Pandas and explore the Series object.

A Series is very similar to a NumPy array (in fact it is built on top of the NumPy array object). What differentiates the NumPy array from a Series, is that a Series can have axis labels, meaning it can be indexed by a label, instead of just a number location. It also doesn't need to hold numeric data, it can hold any arbitrary Python Object.

Let's explore this concept through some examples:

## Imports

In [1]:
import numpy as np
import pandas as pd

## Creating a Series from Python Objects

### Index and Data Lists

We can create a Series from Python lists (also from NumPy arrays)

In [3]:
myindex = ['USA','Canada','Mexico']

In [4]:
mydata = [1776,1867,1821]

In [5]:
myser = pd.Series(data=mydata)

In [6]:
myser

0    1776
1    1867
2    1821
dtype: int64

In [7]:
pd.Series(data=mydata,index=myindex)

USA       1776
Canada    1867
Mexico    1821
dtype: int64

In [10]:
ran_data = np.random.randint(0,100,4)

In [11]:
ran_data

array([12, 68, 79, 12])

In [12]:
names = ['Andrew','Bobo','Claire','David']

In [13]:
ages = pd.Series(ran_data,names)

In [15]:
ages

Andrew    12
Bobo      68
Claire    79
David     12
dtype: int64

### From a  Dictionary

In [16]:
ages = {'Sammy':5,'Frank':10,'Spike':7}

In [17]:
ages

{'Sammy': 5, 'Frank': 10, 'Spike': 7}

In [18]:
pd.Series(ages)

Sammy     5
Frank    10
Spike     7
dtype: int64

# Key Ideas of a Series

## Named Index

In [19]:
# Imaginary Sales Data for 1st and 2nd Quarters for Global Company
q1 = {'Japan': 80, 'China': 450, 'India': 200, 'USA': 250}
q2 = {'Brazil': 100,'China': 500, 'India': 210,'USA': 260}

In [20]:
# Convert into Pandas Series
sales_Q1 = pd.Series(q1)
sales_Q2 = pd.Series(q2)

In [21]:
sales_Q1

Japan     80
China    450
India    200
USA      250
dtype: int64

In [22]:
# Call values based on Named Index
sales_Q1['Japan']

80

In [23]:
# Integer Based Location information also retained!
sales_Q1[0]

80

**Be careful with potential errors!**

In [ ]:
# Wrong Name
# sales_Q1['France']

In [ ]:
# Accidental Extra Space
# sales_Q1['USA ']

In [ ]:
# Capitalization Mistake
# sales_Q1['usa']

## Operations

In [24]:
# Grab just the index keys
sales_Q1.keys()

Index(['Japan', 'China', 'India', 'USA'], dtype='object')

In [25]:
# Can Perform Operations Broadcasted across entire Series
sales_Q1 * 2

Japan    160
China    900
India    400
USA      500
dtype: int64

In [26]:
sales_Q2 / 100

Brazil    1.0
China     5.0
India     2.1
USA       2.6
dtype: float64

## Between Series

In [27]:
# Notice how Pandas informs you of mismatch with NaN
sales_Q1 + sales_Q2

Brazil      NaN
China     950.0
India     410.0
Japan       NaN
USA       510.0
dtype: float64

In [28]:
# You can fill these with any value you want
sales_Q1.add(sales_Q2,fill_value=0)

Brazil    100.0
China     950.0
India     410.0
Japan      80.0
USA       510.0
dtype: float64

That is all we need to know about Series, up next, DataFrames!